.empty-row {
    --bs-table-striped-bg: transparent;
    --bs-table-border-color: transparent;
    border-style:none !important;
}

.page-link {
    color:black;
}

.active>.page-link {
    background-color: #212529;
}

.page-link:focus {
    outline: none;
    box-shadow: none;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.table thead th {
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick it to the top of its container */

  z-index: 1; /* Ensure the header stays on top of other content */
}